* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px sans-serif;
}
div {
  float: left;
}

.tick>line {
  fill: none;
  stroke: black;
}

.tick>text {
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.dot {
  fill-opacity: .5;
}

.clicked {
  stroke: black;
  fill-opacity: 1;
}

.tooltip {
  position: absolute;
  font: 10px sans-serif;
  width: auto;
  height: auto;
  pointer-events: none;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  padding: 5px;
}

path.slice {
  stroke-width: 1px;
}
